.clip {
  z-index: 99999;
  width: 25px;
  height: 9px;
  border: 1px solid #111111;
  border-radius: 25%;
  background: linear-gradient(to right, #c5c5c5, #f8f8f8);
  position: absolute;
  top: 145px;
  left: 225px;
}
.clip2 {
  top: 195px;
}
.clip3 {
  top: 445px;
}
.clip4 {
  top: 495px;
}
